<%# This is a header template %>

<!doctype html>

<html lang="en">

    <head>

        <%# Site data %>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <% try { %>
            <% let existenceTest = pageName; %>
            <title><%= pageName %></title>
        <% } catch(err) { %>
            <title>Mafia</title>
        <% } %>

        <%# JQuery and bootstrap imports %>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

        <%# Fontawesome import %>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/63ec6f8c9f.js" crossorigin="anonymous"></script>

        <%# Animate On Scroll import %>
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        
        <%# Custom CSS %>
        <style>
            
            .custom-rounded {
                -moz-border-radius-topleft: 15px;
                -moz-border-radius-bottomleft: 15px;
                -webkit-border-top-left-radius: 15px;
                -webkit-border-bottom-left-radius: 15px;
                -moz-border-radius-topright: 15px;
                -moz-border-radius-bottomright: 15px;
                -webkit-border-top-right-radius: 15px;
                -webkit-border-bottom-right-radius: 15px;
            }

        </style>

    </head>

    <body>