<%# Page for game hosts to host games %>

<%- include("./partials/header") -%>

<h2 class="display-3 text-center mt-5 mb-2">Join Game</h2>

<div class="jumbotron container">

    <h1 class="text-center">Enter Code: <span class="badge badge-pill badge-primary"><%= code %></span></h1>

</div>

<%- include("./partials/footer") -%>