<%# Landing page that users see when loading the site %>

<%- include("./partials/header") -%>

<h2 class="display-3 text-center mt-5 mb-2">Mafia Facilitator</h2>

<div class="jumbotron container">

    <div class="container">

        <div class="row">
            <div class="col-12 col-lg-6">
                <a href="/new" class="d-block container my-2 px-4 bg-white custom-rounded" style="text-decoration: none;">
                    <h2 class="display-2 text-center">
                        <i class="fas fa-plus-square"></i>
                        New
                    </h2>
                </a>
            </div>
            <div class="col-12 col-lg-6">
                <a href="/join" class="d-block container my-2 px-4 bg-white custom-rounded" style="text-decoration: none;">
                    <h2 class="display-2 text-center">
                        <i class="fas fa-sign-in-alt"></i>
                        Join
                    </h2>
                </a>
            </div>
        </div>

    </div>

</div>

<%- include("./partials/footer") -%>